#**
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *#
#**
 *  Query settings for grouping by fields,
 *  e.g.: Manufacturer or Popularity
 *#

#set($queryOpts = $params.get("queryOpts"))

#if($queryOpts == "group")
  <div>
    #set($groupF = $request.params.get('group.field'))

    <label #annTitle("Add the &group.field parameter. Multiselect is supported")>
      Group By:
      <select id="group" name="group.field" multiple="true">
        ## TODO: Handle multiple selects correctly
        ## TODO: fix empty / "No Group" selection

        <option value=""
          #if($groupF == '')selected="true"#end
        >
          No Group
        </option>

        <option value="manu_exact"
          #if($groupF == 'manu_exact')selected="true"#end
        >
          Manufacturer
        </option>

        <option value="popularity"
          #if($groupF == 'popularity')selected="true"#end
        >
          Popularity
        </option>

      </select>
    </label>  

    <input type="hidden" name="group" value="true"/>

  </div>

#end
