#**
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *#
#**
 *  Provides navigation/access to Advanced search options
 *  Usually displayed near the top of the page
 *#

##TODO: Make some nice tabs here

#set($queryOpts = $params.get("queryOpts"))

<div class="tabs-bar" #annTitle("Click the link to demonstrate various Solr capabilities")>

  <span>Type of Search:</span>

  ##queryOpts=$queryOpts

  ## return to Simple Search
  ##set( $selected = ($queryOpts && $queryOpts != "") )
  #set( $selected = ! $queryOpts )
  <span class="tab #if($selected)selected#end">
    #if($selected)
      Simple
    #else
      <a href="#url_for_home/?#debug#annotate">
        Simple</a>
    #end
  </span>

  ## GEO-Spatial / Location Based
  #set( $selected = ($queryOpts == "spatial") )
  <span class="tab #if($selected)selected#end">
    #if($selected)
      Spatial
    #else
      <a href="#url_for_home?&queryOpts=spatial#debug#annotate">
        Spatial</a>
    #end
  </span>

  ## Group By Field
  #set( $selected = ($queryOpts == "group") )
  <span class="tab #if($selected)selected#end">
    #if($selected)
      Group By
    #else
      <a href="#url_for_home?#debug#annotate&queryOpts=group&group=true&group.field=manu_exact">
        Group By</a>
    #end
  </span>

</div>
